.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    
  }
    .image-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-container {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 400px;
    backdrop-filter: blur(4px);
    border-radius: 20px;
  }
  
  .form-container {
    width: 100%;
    
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    color: #fff;
    font-size: 18px;
  }
  
  .form-group input {
    padding: 8px;
    font-size: 16px;
  }
  
  button[type='submit'] {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #000;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .content-container {
      width: 80%;
      right: 50%;
      transform: translateX(50%);
    }
  }